@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
$p-font :  'Manrope', sans-serif;


// colors

$white : #ffffff;
$off-white : #F5F5F6;
$black : #000000;
$light :#757095;
$blue : #3734A9;
$dark: #1E1E1E;
