@import 'roots';
@import 'navbar';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $p-font;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.p-50 {
    padding: 50px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-40 {
    padding: 40px !important;
}

.white {
    color: $white !important;
}

.orange {
    color: $orange !important;
}

.main-btn {
    color: $white;
    font-size: 16px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s;
    outline: none;
    border: none;
    max-width: max-content;
    background-color: $blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;

    &.round {
        border-radius: 50px;
    }
}

.main-btn:hover {
    position: relative;
    transform: translateY(-2px) !important;
    color: $white;
}

.para {
    color: $light;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    margin-bottom: 2em;

    &.white {
        color: $white !important;
    }
}

.title {
    font-size: 18px;
    color: $blue;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    text-transform: uppercase;
}

.sec {
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
}

.semi-bold {
    font-weight: 600;
}

.sec-head {
    margin-bottom: 1rem;

    h3 {
        color: $black;
        font-size: 53px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.03em;
    }

    &-center {
        text-align: center;
    }
}

// Hero sec
.hero-sec {

    position: relative;
    background: url(/assets/images/hero\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 80px 0 110px;

    .ovr {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(50%)
    }

    .l-part {

        .para {
            width: 80%;
            margin-bottom: 2em;
            font-family: Manrope;
            font-family: Manrope;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: -0.02em;
        }

        .d-flex {
            gap: 100px;
        }

        .vid-btn {
            font-family: Manrope;
            font-size: 17px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -0.02em;
            text-align: left;
            color: $white;
            display: flex;
            gap: 20px;
            align-items: center;
        }

        .sec-head {
            h3 {
                font-size: 60px;
                font-weight: 800;
                line-height: 80px;
                letter-spacing: -0.03em;
            }
        }
    }

    .r-part {
        img {
            width: 100%;
        }
    }
}

// Brands Sec
.brand-sec {
    .title {
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: $black;
    }

    .brand-list {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 30px;


        li {
            padding: 0;

            img {
                width: 130px;
            }
        }
    }
}

// Feature Sec
.fe-sec {
    background: url(/assets/images/fe-bg.png);
    background-position: center center;
    background-size: cover;


    &.no-bg {
        background: none;
    }

    &.reverse {
        .row {
            flex-direction: row-reverse !important;
        }
    }

    .img-part {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
    }
}

// Why sec
.why-sec {
    .why-con-wrapper {
        background: #F3F7FA;
        padding: 60px;
        border-radius: 15px;
        position: relative;

        .ovr {
            position: absolute;
            top: 0;
            left: 50px;
            transform: translateY(-40%);
        }

        .w-card {
            display: flex;
            gap: 25px;
            background-color: $white;
            padding: 40px 25px;
            border-radius: 15px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.089);

            .title {
                font-size: 24px;
                font-weight: 800;
                line-height: 33px;
                letter-spacing: 0em;
                color: $black;
            }

            img {
                width: 58px;
            }

            .para {
                margin: 0;
                line-height: 30px;
                letter-spacing: -0.02em;

            }
        }
    }


}

.gs-sec {
    background: url(/assets/images/gs-bg.svg);
    background-position: center center;
    background-size: cover;
    padding: 100px 0 50px;

    .l-part {
        position: relative;
        padding: 100px 30px 100px 100px;
        z-index: 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: url(/assets/images/gs-gradeint.svg);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;
        }

    }

    .r-part {
        padding: 30px;

        img {
            width: 100%;
        }
    }

    .gs-lower {
        margin-top: 100px;
        background: #49495B;
        border-radius: 15px;
        padding: 40px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #FA8282;
        // border-image-source: linear-gradient(to right, #FA8282, #9C6AF9);
        border-image-slice: 1;
        // border-width: px;
        box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.03);

        .para {
            margin: 0;
            width: 70%;
        }

        .main-btn {
            background-color: $white;
            color: $blue;
            padding: 15px 50px;
            font-weight: 700;
        }

    }

}

.offwhite-bg {
    background-color: #F7F7FD;
}

// Testimonial Sec
.test-sec {

    .sec-head {
        h3 {
            font-size: 40px;
            font-weight: 800;
            line-height: 48px;
        }

    }

    .test-swiper-wrapper {
        position: relative;
        padding: 30px;

        .ovr {
            position: absolute;
            top: 50px;
            left: 30px;
            transform: translateX(-50%);
            z-index: 9;
            width: 100px;
        }
    }

    .testSwiper {


        .swiper-slide {

            .l-part {

                img {
                    width: 95%;

                }
            }

            .r-part {
                // padding: 0 30px;

                .title {
                    font-size: 20px;
                    font-weight: 800;
                    line-height: 30px;
                    color: $black;
                }

                .para {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.02em;
                    color: #757095;
                }

                .name {
                    font-size: 16px;
                    font-weight: 800;
                    line-height: 30px;
                    letter-spacing: -0.03em;
                    margin-bottom: 0;
                }

                .pos {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.02em;

                }
            }

        }

        .test-slider-btns {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-top: 30px;

            .test-btns {
                width: max-content;
                width: 40px;
                height: 40px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.2s;

                &:hover {
                    background: $blue;


                    img {
                        filter: none;
                    }
                }

                img {
                    width: 20px;
                    filter: grayscale(1) invert(1);
                    transition: all 0.3s;

                }

            }

            .test-swiper-nxt {
                transform: rotate(180deg)
            }
        }
    }
}

// Mailsec
.mail-sec {
    background-color: #3734A9;

    .l-part {

        .para {
            width: 80%;
        }
    }

    .r-part {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;

        input {
            outline: none;
            border: none;
            background: #F2F3F4;
            display: block;
            padding: 10px;
            width: 300px;
            opacity: 0.2;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #BBB5E0;
        }

        .submit-btn {
            width: 300px;
            background-color: #FF7F5C;
            color: $white;
            padding: 10px 25px;
            border-radius: 5px;
            text-transform: uppercase;
            outline: none;
            border: none;
            font-size: 16px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 0em;
            transition: all 0.3s;

            &:hover {
                box-shadow: 4px 5px 30px rgba(0, 0, 0, 0.25);
                transform: translateY(-3px);
            }
        }

    }
}

// Footer
.footer-sec {
    background: #1B1C31;
    overflow: hidden;

    .foot-det {
        padding: 7em 0;

        .l-part {

            .title {
                margin-bottom: 1.5em;
                font-size: 20px;
                font-weight: 700;
            }

            .para {
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                opacity: 0.4;
                width: 80%;
                font-size: 16px;
            }
        }

        .footer-list {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 0;

            li {
                padding: 0;
            }

            .title {
                margin-bottom: 1em;
                font-size: 20px;
                color: $white;
                font-weight: 700;
            }

            .links {
                a {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $white;
                    transition: all 0.3s;

                    &:hover {
                        font-style: italic;
                        color: #FF7F5C;
                    }

                }

            }
        }

    }

    .copy {
        border-top: 1px solid #404444;
        padding: 30px 0;

        h3 {
            font-size: 15px;
            line-height: 26px;
            font-weight: 400;
            color: $white;
            margin: 0;
            padding: 0;

            &.semi {
                font-weight: 700;
            }
        }
    }
}

// Common Sec

.full-bg-sec {
    position: relative;
    background-position: center center;
    background-size: cover !important;
    height: 60vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat !important;
    // background: url(/assets/images/about-hero-bg.png);


    .ovr {
        position: absolute;
        right: 30px;
        bottom: 0;
        transform: translateY(50%);
    }

    .sec-head {
        h3 {
            font-weight: 700;
            font-size: 60px;
            line-height: 82px;
        }
    }

}


.foot-banner {
    overflow: visible;
    padding: 150px 0;


    .container {
        overflow: visible;
        border-radius: 25px;
        background: url(/assets/images/gradient-bg.png);
        background-size: cover;
        background-position: center center;
        position: relative;
    }

    .ovr {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%);
    }


    .l-part {
        padding: 60px;

    }

    .r-part {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            bottom: 0;
            height: calc(100% + 150px);
            z-index: 999;
        }
    }
}

// ABOUT PAGE
#about-page {

    .full-bg-sec {
        background: url(/assets/images/about-hero-bg.png);

    }

    .a-sec-2 {
        padding: 100px 0;

        .d-flex {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
        }

        .s2-card {
            width: 28%;
            min-width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: auto;

            .img-wrapper {
                width: 80px;
                height: 80px;
                background-color: $blue;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;

                img {
                    width: 30px;
                }
            }

            .card-title {
                font-size: 26px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: 0em;
            }

            .card-text {
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0em;

                .card-link {
                    color: $blue;
                }
            }
        }
    }

    .how-work-sec {
        position: relative;
        padding: 80px 0 100px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: calc(100% - 300px);
            width: 100%;
            background: url(/assets/images/how-it-work-bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;
        }


        .sec-head {
            margin-bottom: 30px;
        }

        .para {
            width: 80%;
            margin: auto;
        }

        .card-wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            margin: 50px 0;
            gap: 20px;

            .hw-card {
                width: 250px;
                height: 250px;
                background-color: $white;
                border: 2px dashed $blue;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                flex-direction: column;
                border-radius: 24px;
                margin: auto;

                .card-title {
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 31px;
                    letter-spacing: -0.03em;
                    color: $blue;
                }
            }
        }
    }

}


// FEATURES PAGE
#features-page {
    .full-bg-sec {
        background: url(/assets/images/features-page-hero-bg.png);
    }

    // Sec 2
    .fe-sec-2 {
        .card-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
            padding: 40px 0;

            .card {

                gap: 20px;
                border: none;
                padding: 0;

                .img-wrapper {
                    width: 100%;

                    img {
                        width: 180px;
                        margin: auto;
                        display: table;
                    }
                }

                .card-body {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    padding: 0;

                    .card-title {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 26px;
                        letter-spacing: -0.02em;
                    }

                    .card-text {
                        color: #757095;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 25px;
                        letter-spacing: 0em;
                        text-align: center;

                        .card-link {
                            color: $blue;
                            outline: none;
                        }

                    }

                    .card-btn {
                        color: $orange;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        transition: all 0.3s;
                        position: relative;
                        padding: 0;

                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -5px;
                            width: 0%;
                            height: 3px;
                            background: $orange;
                            transition: all 0.5s;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            right: 0;
                            top: -5px;
                            width: 0%;
                            height: 2px;
                            background: $orange;
                            transition: all 0.5s;
                        }

                        &:hover {
                            color: $blue;

                            &:before {
                                width: 100%;
                            }

                            &:after {
                                width: 100%;

                            }

                        }
                    }
                }
            }

        }
    }
}

// CONTACT Page
#contact-page {

    .full-bg-sec {
        background: url(/assets/images/contact-page/contact-hero-bg.png);
    }

    .form-sec {
        .l-part {
            padding: 60px 30px;
            background: url(/assets/images/contact-page/mesh-gradient\(1\)\ 2\ \(1\).png);
            background-position: center center;
            background-size: cover;
            border-radius: 20px;
            border-top-left-radius: 100px;

            .para {
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: -0.02em;
                color: $white;
            }

            .icon-list-wrapper {
                display: flex;
                gap: 20px;
                margin-bottom: 30px;
                align-items: center;

                .icon-wrapper {
                    background: $white;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                }
                .text-wrapper{
                    a{
                        color: $white;
                        font-size: 18px;
                    }
                }
            }
        }

        .r-part {

            .input-wr {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                }

                input ,textarea{
                    display: block;
                    padding: 0.5em 1em;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid #333;
                }
            }
        }
    }
}